<section class="index">

<h3><%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h3>

<%= link_to "All Pets Available at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %>

<p><%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip Code: <%= @shelter.zip %></p>

<%= link_to "Edit Shelter Information", "/shelters/#{@shelter.id}/edit" %>

<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>

</section>
