<h3><%= @shelter.name %></h3>

<p><%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip Code: <%= @shelter.zip %></p>

<%= link_to "Edit Shelter Information", "/shelters/#{@shelter.id}/edit" %>
