<%= image_tag @pet.image %>
<h3>Name: <%= @pet.name %></h3>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Description: <%= @pet.description %></p>
<p>Adoption Status: <%= @pet.adoption_status %></p>
