<%= image_tag @pet.image %>
<h3>Name: <%= @pet.name %></h3>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Description: <%= @pet.description %></p>
<% if @pet.adoption_status == true %>
  <p>Adoption Status: Adoptable!</p>
  <% else %>
  <p>Adoption Status: Pending Adoption</p>
<% end %>

<%= link_to "Edit Pet Profile", "/pets/#{@pet.id}/edit" %>

<%= link_to "Delete Pet Profile", "/pets/#{@pet.id}", method: :delete %>
